
<div class="ui container">

	<hr />

	<form class="ui fluid form">

		<div class="field">
			<div class="ui basic label">
				Identity :
			</div>
				{{input class="ui input" value=model.copy.identity}}

		</div>

		<div class="fieldset">

			<button class="positive ui button" {{action "save" model}}>
				<i class="check circular icon"></i>
				Validate
			</button>

			{{#link-to "developers"}}
				<button class="ui button">
					<i class="remove circular icon"></i>
					Cancel
				</button>
			{{/link-to}}

		</div>

	</form>

</div>